
<table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Category</th>
        <th *ngIf="!(user.getUserRol() === 'Viewer')">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <th>{{ category.id }}</th>
        <td>{{ category.name }}</td>
        <td *ngIf="!(user.getUserRol() === 'Viewer')">
          <a class="button is-primary is-outlined" (click)="editCategory(category.id)">Edit</a>
          <a class="button is-danger is-outlined" (click)="deleteCategory(category.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>