<section class="section">
    <div class="container">
      <h1 class="title">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Text input" formControlName="username" [ngClass]="{ 'is-danger': submitted && f.username.errors }">
          </div>
          <p class="help is-danger" *ngIf="submitted && f.username.errors">Username is required</p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Text input" formControlName="password" [ngClass]="{ 'is-danger': submitted && f.password.errors }">
          </div>
          <p class="help is-danger" *ngIf="submitted && f.password.errors">Password is required</p>
        </div>
        <div class="container">
            <button type="submit" class="button is-info">Login</button>
        </div>
      </form>
    </div>
  </section>